<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success pull-left" (click)="onNewRecord()">New Attendance</button>  

      <div class="form-group pull-right">
          <input [(ngModel)]="searchRecord" type="text" class="form-control" placeholder="Search Attendance">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-condensed table-hover table-responsive table-bordered">
        <tr>
          <th>Attendance ID</th>
          <th>Emp ID</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>Working Hours</th>
        </tr>
        <tr app-attendance-item
        *ngFor="let recordEl of records | recordFilter : searchRecord"
        [record]="recordEl"
        (click)="onRecordSelected(recordEl.id) "></tr>
      </table>
      
    </div>
  </div>
  
  